<!-- Header -->
<header class="header">
  <!-- contacts -->
  <div class="contacts">
    <div class="header__container container">
      <ul>
        <li class="contacts__item list-no-marker">
          <a class="contacts__link-phone link-no-decor" href="tel:+380674745955"
            >(067) 474-59-55</a
          >
        </li>
        <li class="contacts__item list-no-marker">
          <a class="contacts__link-phone link-no-decor" href="tel:+380506996454"
            >(050) 699-64-54</a
          >
        </li>
      </ul>
      <a class="contacts__link-mail link-no-decor" href="mailto:zou3@ukr.net"
        >zou3@ukr.net</a
      >
    </div>
  </div>
  <div class="logo">
    <div class="logo__container container">
      <a class="link-no-decor" href="">
        <div class="logo__elips"></div>
        <p class="logo__name" lang="ua">
          Систематизоване <br />
          законодавство України
        </p>
      </a>
    </div>
  </div>
  <nav class="nav">
    <div class="nav__container container">
      <ul class="nav__list list-no-marker">
        <li class="nav__item nav__item--active">
          <a class="nav__link link-no-decor" href="./index.html">Головна</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link-no-decor" href="./codes-book.html">Право</a>
          <!-- submenu -->
          <!-- <ul class="list-no-marker">
                <li><a href="">Кодекси в книгах (без підтримки в контрольному стані)</a></li>
                <li><a href="">Кодекси в теках (з підтримкою в контрольному стані)</a></li>
              </ul> -->
        </li>
        <li class="nav__item">
          <a class="nav__link link-no-decor" href="">Освіта</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link-no-decor" href="./order-rules.html"
            >Порядок замовлення</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link link-no-decor" href="./contacts.html">Контакти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
