@import '../base/reset';

body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-grey-color);
}

.subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: var(--main-txt-color);
}

.text-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;

  color: var(--main-txt-color);
}

//   color: var(--title-color);
//   font-weight: 700;
//   font-size: 28px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
//   font-style: var(--secondary-font);

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 50px;

//     font-size: 36px;
//     line-height: 1.16;
//   }
// }
