<main class="main">
  <div class="main__container container">
    <h2 class="title">Контакти</h2>
    <h3 class="subtitle">Зв’язатися з нами</h3>
    <div class="wrapper">
      <ul class="contacts-page__list list-no-marker">
        <li class="contacts-page__item">
          <h4 class="contacts-page__subtitle">Наша Адреса</h4>
          <p class="contacts-page__descrip">
            м. Київ, вул. Антоновича 172, офіс 720, 03150
          </p>
        </li>
        <li class="contacts-page__item">
          <h4 class="contacts-page__subtitle">Телефони</h4>
          <ul class="contacts-page__list list-no-marker">
            <li class="contacts-page__item--tel">
              <a
                class="contacts-page__descrip--link link-no-decor"
                href="tel:+380445282216"
                >(044) 528-22-16</a
              >
            </li>
            <li class="contacts-page__item--tel">
              <a
                class="contacts-page__descrip--link link-no-decor"
                href="tel:+380506996454"
                >(050) 699-64-54</a
              >
            </li>
            <li class="contacts-page__item--tel">
              <a
                class="contacts-page__descrip--link link-no-decor"
                href="tel:+380674745955"
                >(067) 474-59-55</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts-page__item">
          <h4 class="contacts-page__subtitle">E-mail</h4>
          <a
            class="contacts-page__descrip--link link-no-decor"
            href="mailto:zou3@ukr.net"
            >zou3@ukr.net</a
          >
        </li>
      </ul>
      <form class="form-contacts">
        <h4 class="contacts-page__subtitle">Форма зв’язку</h4>

        <div class="form-contacts__wrapper">
          <div class="form-contacts__wrapper--name">
            <label class="form-contacts__label" for="input-name">
              Ваше ім’я
            </label>
            <input
              class="form-contacts__input"
              id="input-name"
              type="text"
              placeholder="Вкажіть своє ім’я"
            />
          </div>
          <div class="form-contacts__wrapper--mail">
            <label class="form-contacts__label" for="input-mail">
              E-mail для зв’язку
            </label>
            <input
              class="form-contacts__input"
              id="input-mail"
              type="email"
              placeholder="Вкажіть свій e-mail "
            />
          </div>
        </div>
        <label class="form-contacts__label" for="input-textarea">
          Повідомлення
        </label>
        <textarea
          class="form-contacts__textarea"
          name=""
          id="input-textarea"
          placeholder="Напишіть повідовлення"
          cols="30"
          rows="3"
        ></textarea>
        <button class="form-contacts__btn btn" type="submit">Надіслати</button>
      </form>
    </div>
  </div>
</main>
