<!-- footer -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper contacts">
      <p class="copyright">
        <script>
          document.write(
            '&#169; Всі права захищені. ' +
              new Date().getFullYear() +
              ' | Український інститут нормативної інформації'
          );
        </script>
      </p>
      <a class="contacts__link-mail link-no-decor" href="mailto:zou3@ukr.net"
        >zou3@ukr.net</a
      >
    </div>
  </div>
</footer>
