.codes-list {
  display: flex;
  align-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 226px;
    height: 480px;

    padding: 17px 17px 29px 17px;

    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 5px;
  }
  &__item:not(:last-child) {
    margin-right: 22px;
  }

  &__img-thumbs {
    margin-bottom: 10px;
  }

  &__name {
    margin-bottom: 1px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;

    text-align: center;

    color: var(--main-txt-color);
  }

  &__part {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;

    color: var(--main-txt-color);
  }

  &__order {
    text-align: center;
  }

  &__prise {
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.333;

    text-align: center;

    color: var(--main-txt-color);
  }

  &__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;

    color: var(--main-txt-color);
  }
}
