:root {
  /* Шрифты */
  --main-font: 'Roboto', sans-serif;

  /* Цвета текста */
  --main-txt-color: #000000;
  --secondary-txt-color: #606060;

  /*Колір логотипа */
  --logo-color: #d80000;

  /* Кольори бэкграундов */
  --dark-grey-color: #606060;
  --grey-color: #d2d2d2;
  --light-grey-color: #f6f6f6;
  --white-color: #ffffff;

  /* Акцент */
  --accent-color: #d4f2ff;
  // --accent-color-hover: #188ce8;

  /* Анимация */
  // --animation-time: 250ms;
}
