.btn {
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;

  cursor: pointer;

  color: var(--main-txt-color);

  background: #d4f2ff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
